header
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/Aboutme") About Me
            li
                a(href="/Projects") Projects
            li
                a(href="/Services") Services
            li
                a(href="/Contact") Contact Information