extends layout

block content
  h1= title
  p I am #{name} from Geogian College. I am in Computer programming course.
  p I am in my forth Semester
  p Here you can find my contact information and link to some of my projects