extends layout

block content
  include partials/header
  h1= title
  p Here is my contact information
  p You can E-mail me anytime at Arshdeepak.ram@mygeorgian.ca
  p My contact number is 7050000001
  include partials/footer