doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/Aboutme") About Me
            li
                a(href="/Projects") Projects
            li
                a(href="/Contact") Contact
  body
    block content