extends layout

block content
  include partials/header
  h1= title
  main
    div
        h2 Rooms for Rent
        a(href="https://github.com/arshgosal/ModuleProject3") To book a room

    div
        h2 To Do List
        a(href="https://github.com/arshgosal/Project") to open to do list
  include partials/footer